body>:nth-child(1)>header>div{
    /*background: #1b1b2b;*/
    padding:  0px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.btn{
    color: #999;
    background:rgba(0, 0, 0, 0.5);
    /*background-color: #0E0E52;*/
    padding:10px 25px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    position: relative;
    top: 29%;
    margin: auto;
}

.btn:hover{
    border:none;
    background: rgba(0, 0, 0, 0.4);
    background: #EDF7F6;
    /*background: #ff0a54;*/
    padding:20px 25px;
    color:#1b1b1b;
}